
body{font-family:Arial;background:#0f172a;color:#fff;margin:0}
header{padding:15px;background:#020617;text-align:center}
#loginBox{max-width:300px;margin:100px auto;text-align:center}
input,button{width:100%;padding:10px;margin:5px 0}
video{width:100%;max-width:900px;display:block;margin:20px auto}
#channels{display:grid;grid-template-columns:repeat(auto-fill,minmax(120px,1fr));gap:10px;padding:10px}
button{background:#2563eb;border:none;color:#fff;border-radius:6px}
